<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <div class="continer">
        

            <H2>Submitted Info</H2>
            <p>"Name: <%= name %>"</p>
            <p>"Dojo Location: <%= location %>"</p>
            <p>"Favorite Language: <%= language %>"</p>
            <p>"Comment: <%= comment %>"</p>

      
    </div>
</body>
</html>