<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>EJS Cats</title>
</head>
<body>
    <div class="container">
      
            <h1>EJS Cats</h1>
        

        
            <div class="cat1">
                <a href="/lily"><img src="/images/cat1.jpg" alt="cat1"></a>
                
            </div>
    
            <div class="cat2">
                <a href="/cuddles"><img src="/images/cat2.jpg" alt="cat2"></a>
                
            </div>
    
           
    </div>
    
</body>
</html>